* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Source Sans Pro", Arial, sans-serif;
    margin: 0;
}
.image-modal {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    border: 3px solid black;
    top: 10%;
    left: 5%;
    bottom: 5%;
    right: 5%;
    width: 90%;
    height: 90%;
    position: fixed;
    background-color: white;
}
.modal-wrapper {
    background-color: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    position: fixed;
    font-family: "Source Sans Pro", Arial, sans-serif;
    z-index: 99999;
    opacity: 1;
    background: rgba(25, 42, 50, 0.7);
    transition: all 150ms ease 0s;
}
i {
    font-size: 4rem !important;
    width: 100%;
}
.commentusr {
    padding: 0.5rem;
}
.headtxt {
    line-height: 1.6em;
    margin: 0 0 2em;
    letter-spacing: 0.2em;
    color: #eb9586;
}

.headerh1 {
    font-weight: 200px;
    font-size: 3em;
    color: #900c3f;
    margin: 0;
    padding: 0 0 0.2em;
    display: inline-block;
}

header {
    padding: 2em 0 1em;
    margin: 0 0 4em;
    text-align: center;
    border-bottom: 1px solid #f38572;
}
.searchdiv {
    text-align: right;
}
.searchinput {
    right: 5px;
    padding: 5px;
}
.imagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 1rem 1rem;
}
.imagelink {
    text-decoration: none;
    color: maroon;
}

.imagediv {
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
    flex: 1 0 22rem;
    margin: 1rem;
    padding: 1rem;
    animation: fadeUp 1s;
}

.imagediv:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}

@keyframes fadeUp {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.imgtxt {
    font-size: 0.5em;
}
h1 {
    margin-left: 20px;
}
.uploadform {
    text-align: center;
}

.form {
    display: block;
}

.form input:required {
    border-left-color: red;
}
.uploadbtndiv {
    position: relative;
    overflow: hidden;
    display: block;
}

.btn {
    border: 2px solid #c70039;
    color: #eb9586;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-left: 45%;
    margin-top: 10px;
}

.uploadbtndiv input[type="file"] {
    left: 20px;
    margin-top: 10px;
    line-height: 2;
    padding: 10px;
    font-size: 15px;
}

.form input[type="text"] {
    padding: 0.5rem;
}
.imageCommentdiv {
    width: 60%;
}

.commentsContainer {
    width: 40%;
    overflow: auto;
    margin: 10px;
    border: 1px solid maroon;
    border-style: ;
}
.commentdiv {
    text-align: left;
    border-bottom: 1px solid maroon;
    margin: 10px;
}

.commentusrlbl {
    display: block;
    margin-top: 20px;
}
.commentinput {
    width: 70%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.commenttxt,
.usr {
    font-weight: bold;
}

.imageonmodal {
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
}
.nextbtn,
.prevbtn {
    position: absolute;
    z-index: 1;
    top: 50%;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}
.nextbtn {
    right: 0;
}
.prevbtn {
    left: 0;
}
label {
    font-size: 1rem;
}
#loadmore {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #154360;
    border-radius: 3px;
    color: white;
    border: none;
    font-size: 17px;
}
